/* for the page overall */
body
{
    background:#1a1a1a;
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

.hidden
{
    display:none !important;
}

/* The phone design */
.phone-frame
{
    width:355px;
    height:750px;
    background:#000;
    border-radius:38px;
    padding:20px;
    box-shadow:0 0 30px rgba(0,0,0,.55);
    display:flex;
    justify-content:center;
    align-items:center;
}

.phone-screen
{
    width:100%;
    height:100%;
    background:#eadcf8;
    border-radius:30px;
    padding:14px;
    overflow-y:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    z-index: 2;
    
}

/* The things inside the phone */
.card-container
{
    width:340px;
    background:#f4f4f5;
    padding:30px 25px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 7px 15px rgba(0,0,0,.15);
}

.logo
{
    font-size:27px;
    font-weight:600;
    margin-bottom:20px;
}

/* tabs */
.tab-row
{
    display:flex;
    justify-content:center;
    gap:10px;
    margin-bottom:18px;
}

.tab
{
    padding:10px 18px;
    background:#e5e7eb;
    border:none;
    cursor:pointer;
    border-radius:10px;
    font-size:14px;
}

.tab.active
{
    background:#000;
    color:#fff;
}

/* Titles */
.header
{
    font-size:17px;
    font-weight:600;
    margin-bottom:6px;
}

.subheader
{
    color:#555;
    margin-bottom:22px;
}

/* Inputs */
.input
{
    width:96%;
    padding:13px;
    margin-bottom:14px;
    border-radius:12px;
    border:1px solid #d1d5db;
    font-size:15px;
    background:white;
}

.input:focus
{
    outline:2px solid #c7b2f7;
}

/* Buttons */
.btn-primary
{
    width:100%;
    padding:14px;
    background:black;
    color:white;
    border:none;
    border-radius:12px;
    font-size:16px;
    margin-bottom:8px;
    cursor:pointer;
}

.forgot-link
{
    background:none;
    border:none;
    font-size:14px;
    color:#444;
    margin-bottom:8px;
    cursor:pointer;
}

.reset-box
{
    margin-top:5px;
}

.popup
{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.55);
    display:flex;
    justify-content:center;
    align-items:center;
    z-index: 10;
}

.popup-content
{
    width:290px;
    background:#f4f4f5;
    padding:22px;
    text-align:center;
    border-radius:18px;
    box-shadow:0 7px 16px rgba(0,0,0,.25);
}

/* Password eye */
.password-wrapper
{
    position:relative;
    width:100%;
}

.toggle-password
{
    position:absolute;
    right:13px;
    top:35%;
    transform:translateY(-50%);
    font-size:18px;
    cursor:pointer;
    opacity:.6;
}

.toggle-password:hover
{
    opacity:1;
}
