
body 
{
  background-color: #1a1a1a;   
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;    
  align-items: center;        
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}


.hidden 
{
  display: none !important;
}*

.phone-frame 
{
  width: 360px;        
  height: 760px;       
  background: #000;
  border-radius: 40px; 
  padding: 18px;      
  box-shadow: 0 0 35px rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-screen 
{
  width: 100%;
  height: 100%;
  background: #eadcf8;  
  border-radius: 32px;   
  overflow-y: auto;
  padding: 15px;       
  
  display: flex;
  justify-content: center;   
  align-items: center;
}



.card-container 
{
  width: 350px;
  background: #f4f4f5;
  padding: 35px 30px;
  border-radius: 26px;
  text-align: center;
  box-shadow: 0px 8px 18px rgba(0,0,0,0.15);
}


.logo 
{
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 25px;
}


.tab-row 
{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.tab 
{
  padding: 10px 20px;
  background: #e5e7eb;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.tab.active 
{
  background: black;
  color: white;
}


.header 
{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.subheader 
{
  color: #555;
  margin-bottom: 25px;
}


.input 
{
  width: 96%;
  padding: 14px;
  margin-bottom: 16px;
  border-radius: 12px;
  border: 1px solid #d1d5db;
  background: white;
  font-size: 15px;
}

.input:focus 
{
  outline: 2px solid #c7b2f7;
}


.btn-primary 
{
  width: 100%;
  padding: 14px;
  background: black;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}

.forgot-link 
{
  background: none;
  border: none;
  font-size: 14px;
  color: #444;
  cursor: pointer;
  margin-bottom: 10px;
}

.reset-box 
{
  margin-top: 5px;
}

.terms 
{
  margin-top: 20px;
  font-size: 12px;
  color: #555;
}

.terms a 
{
  color: #444;
  text-decoration: underline;
}





.popup 
{
  position: absolute;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0,0,0,0.55);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content 
{
  background: #f4f4f5;
  padding: 25px;
  width: 300px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 7px 20px rgba(0,0,0,0.25);
}





.password-wrapper 
{
  position: relative;
  width: 100%;
}

.toggle-password 
{
  position: absolute;
  right: 14px;
  top: 35%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 18px;
  opacity: 0.6;
}

.toggle-password:hover 
{
  opacity: 1;
}

